@charset "UTF-8";

/***********************************************************/
/*      DESKTOP                                            */

@media screen and (min-width: 640px) {
 
body{	 
	background-image: url(images/rcaf-roundel.png), url(images/background-2.jpg);
	background-repeat: no-repeat;
	background-position: right bottom, top left;
	background-size: 600px 600px, cover;
 }
 
#main {
	width: 640px;
	}

#header {
	height: 100px;
	width: 610px;
	padding-left: 30px;
	margin-top: 30px;
	padding-top: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 20px 20px 0px 0px;	
	font-size: 36px;	
}

#container {
	height: 360px;
	width: 640px;
	background-color: rgba(255,255,255,0.8);
}

#informations {
	width: 600px; /* 640 - padding */
	background-color: rgba(255,255,255,1);
}
	
#welcome{
	background-color: rgba(255,255,255,0.8);
	width: 65%;
	background-image: url(images/iphone_apps.png);
	background-repeat: no-repeat;
	background-position: -30px 0px;
	padding-top: 10px;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-left: 30%;
	height: 360px;
}

select {
	width: 30%;
	height: 30px;
	margin-right: 5px;
	float: left;
}

}




/***********************************************************/
/*      IPAD                                               */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

body{
	 
	background-image: url(images/rcaf-roundel.png), url(images/background-2.jpg);
	background-repeat: no-repeat;
	background-position: right bottom, top left;
	background-size: 600px 600px, cover;
}
 
#header{
	 font-size: 36px;
	 background-color: rgba(255, 255, 255, 1);
}

select {
	height: 30px;
	float: left;
}


	
}	

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

body{
	 
	background-image: url(images/rcaf-roundel.png), url(images/background-2.jpg);
	background-repeat: no-repeat;
	background-position: right bottom, top left;
	background-size: 600px 600px, cover;
}	
 
#header{
	 font-size: 36px;
	 background-color: rgba(255, 255, 255, 1);
}	
 
select {
	height: 30px;
	float: left;
}

}
	
/***********************************************************/
/*      IPHONE                                             */

@media only screen and (max-device-width: 480px) and (orientation: landscape){

body{
		width: 480px;
		font-size: 9px;
}
	
#main {
	width: 480px;
}

#header {
	width: 160px;
	height: 240px;
	font-size: 30px;
	text-align:right;
	float: left;
}
	
#container {
	height: 240px;
	width: 310px;
	margin-top: 5px;
	margin-left: 165px;
}
	
#footer{
	display: none;
}

#informations {
	width: 440px;	
}

#welcome{
	width: 310px;
	height: auto;
	margin-top: 5px;
	margin-left: 165px;
}
	
select {
	width: 95%;
	height: 40px;
	margin-left: 2%;
	margin-top: 5px;
}

	
}

@media only screen and (max-device-width: 480px) and (orientation: portrait){
body{
	width: 320px;
	font-size: 16px;
}
 
#main {
	width: 320px;
}

#header {
	height: 80px;
	width: 320px;
	font-size: 36px;
	text-align:center;
	background-color: rgba(255, 255, 255, 1);
}
	
#container {
	height: 260px;
	width: 320px;
}

#welcome {
	background-color: rgba(255, 255, 255, 1);
	width: 300px;
	height: auto;
	padding: 10px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: rgba(204,204,204,1);
}
	
#informations {
	width: 280px; /* 320 - padding */
	background-color: rgba(255,255,255,1);
}

select {
	width: 50%;
	height: 30px;
	float: left;
}

	
}

/***********************************************************/
/*      ALL                                                */


html {
	height: 100%;
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-align: center;
	
	background-color: #ccc;

	margin: 0px;
	height: 100%;	
}

#main {
	height: 100%;
	
	color: #333;
	text-align: left;	
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

#header {		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;	
	text-shadow: rgba(0, 0, 0, 0.3) -2px 2px 4px;	
}

#footer {	
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 0px;
	
	padding-bottom: 10px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	
}

#informations {	
	text-align: center;
	padding: 20px;
	height: auto;
	border-radius: 0px 0px 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 8px -6px;
}

#form {
	width: 100% ;
	top: 0px;
	left: 0px;
}

select {
	float: left;
}



/**************************************************/
a:link {
	color: #999999;
	text-decoration: none;
}
a:visited {
	color: #999999;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
a:active {
	color: #FF6600;
	text-decoration: underline;
}

/**************************************************/


#footer a:link {
	color: #fff;
	text-decoration: none;
}
#footer a:visited {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {/Users/jeanvouillon/Desktop/Proposition URBANINK.pdf
	
	color: #fff;/Users/jeanvouillon/Desktop/Proposition URBANINK.pdf
	
	text-decoration: none;
}
#footer a:active {
	color: #fff;
	text-decoration: none;
}

/**************************************************/
